#accordion{
	width: 100%;
	margin: 0 auto;
	clear: both;
	position: relative;

	.ui-accordion-header{
		padding: 7px 7px 7px 30px;
		font-size: 16px;
		font-family: @app_open;
		color: @blanco;
		margin: 0;
		#gradient .vertical(#5BB6E4, #439BD2);
		border: 1px solid rgba(102, 102, 102, 0.42);
		border-radius: 4px;
		background-repeat: no-repeat;
		background-position: 98%;
		margin-bottom: 10px;

		.ui-accordion-header-icon{
			background-image: url('../images/sprite-triangle.png');
			background-repeat: no-repeat;
			background-position: -2px -1px;
			display: inline-block;
			width: 20px;
			height: 20px;
		}
	}

	.ui-widget-content{
		background: none;
		width: 100%;
		border-radius: 2px;
		margin-left: -39px;
		margin-top: -26px;
		margin-bottom: 15px;
	}


	.ui-state-active{
		background-repeat: no-repeat;
		background-position: 98%;

		.ui-accordion-header-icon{
			background-position: -2px -26px;
		}
	}

	.ui-accordion-content{
		border: none;
		height: auto!important;
		.texto_claro;
		 text-align: center;
	}
}

.name_nit{
	.button_degrade;
	width: 99%;
	border: 1px solid #ccc;
	font-size: 19px;
	font-family: @app_open;
	display: inline-block;
	color: #4C4C4C;
	padding: 0 10px;
	margin-top: 30px;
	padding: 14px 0;
	margin-bottom: 12px;
	border-radius: 5px;
	box-shadow: 0 1px 2px 1px #ccc;

	.name_detail{
		width: 40%;
		float: left;
		text-align: left;
		margin-left: 20px;
	}
	.nit_detail{
		float: right;
		display: inline-block;
		text-align: right;
		margin-right: 20px;

		span{
			display: inline-block;
			width: auto;

			&.nit_azul{
				color: @azulsubtitulos;
				padding-right: 5px;
			}
		}
	}
	.descargar-informe{
		// display: none;
		float: right;
		a.descarga_informe{
			background-image: url("../images/content/descargar-informe.png");
			background-repeat: no-repeat;
			color: transparent;
			padding: 7px;

			&:hover{  opacity: 0.9;}
		}	
		a.descarga_informe_css{
			background-image: url("../images/content/descargar-informe.png");
			background-repeat: no-repeat;
			color: transparent;
			padding: 7px;

			&:hover{  opacity: 0.9;}
		}			
	}
}
.select-reexpresion{
	width: 100%;
	text-align: right;
	margin: 10px 0 20px 0;

	p{
		display: inline-block;
		color: #666;
		font-size: 14px;
		font-family: @content;
	}
	select{
		border: none;
		background-color: transparent;
		appearance: button;
		margin-right: 10px;
		padding-end: 14px;
		padding-start: 14px;
		user-select: none;
		-ms-appearance: button;
		-ms-padding-end: 14px;
		-ms-padding-start: 14px;
		-ms-user-select: none;
		-moz-appearance: button;
		-moz-padding-end: 14px;
		-moz-padding-start: 14px;
		-moz-user-select: none;
		-webkit-appearance: button;
		-webkit-padding-end: 14px;
		-webkit-padding-start: 14px;
		-webkit-user-select: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		background-position: 101% 50%;
		color: #666;
		border: 1px solid #ccc;
		background-repeat: no-repeat;
		background-image: url(../images/content/desplegable.png);
		background-color: #EEEFEF;
		border-radius: 0;
		overflow: hidden;
		height: 27px;
		outline: none;
		font-size: 16px;
		margin-left: 20px;
		text-overflow: ellipsis;
		border-radius: 4px;
		// padding-left: 10px;
		white-space: nowrap;
		position: relative;
	}
}

#objeto-social-wrapper{
	position: relative;
	height: 110px;
	overflow: hidden;
	margin-top: 25px;
	p{
		color: #666;
		font-size: 15px;
		font-family: @content;		
	}

	#ver-mas{
		position: absolute;
		background-image: url('../images/fondo.png');
		right: 0;
		bottom: 0px;
		background-color: #FFF;

		a{
			color: @azultitulos; 
			font-size: 15px;	
			text-decoration: none;		
		}
	}

}

#accordion-pdf{
	text-align: center;
	#objeto-social-wrapper{
		height: auto;
	}

	.torta-link, .atras, .siguiente{
		display: none !important;
	}
}
.descripcion_empresa{
	color: @oscuro;
	font-size: 15px;
	font-family: @app_open;
	line-height: 22px;
	text-align: justify;
	padding: 20px 5px;
}
.charts-info-general{
	position: relative;
}
.alert-wrapper{
	display: inline-block;
	position: absolute;
	top: 26px;
	left: 100px;
	text-align: center;
	font-family: @content;	
    -webkit-animation-name: aparesca; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-name: aparesca;
    animation-duration: 1s;		
    -webkit-animation-iteration-count: infinite;	
	.alert{
		color: #BD2132;
		font-size: 45px;
	}
	.riesgo{
		color: #666;
		font-size: 18px;
		text-transform: capitalize;
	}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes aparesca {
    0%   {opacity: 0;}
    25%  {opacity:0.5;}
    50%  {opacity:1; }
    75%  {opacity:0.5;}
    100% {opacity:0;}
}

/* Standard syntax */
@keyframes aparesca {
    0%   {opacity: 0;}
    25%  {opacity:0.5;}
    50%  {opacity:1; }
    75%  {opacity:0.5;}
    100% {opacity:0;}
}



.score{
	display: inline-block;
	position: absolute;
	top: 26px;
	right: 100px;
	text-align: left;
	font-family: @content;	
	a{
		padding: 4px 7px 4px 28px ;
		font-size: 15px;
		display: inline-block;
		text-decoration: none;
		font-family: 'Open Sans', sans-serif;
		color: #fff;
		margin: 0;
		background-color: #51abdd;
		background-image: url('../images/content/score.png');
		background-repeat: no-repeat;
		background-position: center left;
		border: 1px solid rgba(102,102,102,0.42);
		border-radius: 4px;
		background-repeat: no-repeat;
		margin-bottom: 10px;
	}
}
.recomendacion{

	text-align: center;
	p{
		text-align: center; 
		display: inline-block;
		color: #666;
		font-size: 15px;		
	}
	span{
		color: @azultitulos; 
		font-size: 14px;
	}
}



