/**
* Base template
*
*/
body, html {overflow-x: hidden;}

body{
	line-height: 1;
    margin: 0 auto;
    background-position: center top;
    background-image: url('../images/fondo.png');
    background-attachment: fixed;
    background-repeat: no-repeat;

    &.no-background{
    	background: none;
    }
}

header{
	position: relative;
    width: 100%;
    display: inline-block;
    height: 179px;
    text-align: center;
    padding-top: 48px;
}

// Notifications
.global-notification {
	display: none;
	position: fixed;
	padding: 10px;
	width: 400px;
	top: 200px;
	left: 50%;
	margin-left: -200px;
	 #gradient .vertical(#176F9E, #02689E);
	color: #FFF;
	font-size: 15px;
	text-align: center;
	font-family: @fontFamily;
	z-index: 99999999;
	border-radius: 4px;

	&.red { color: darken(red, 30%) }
}

.button-azul{
	background-color: #02689E;
    border: 0;
    color: #FFF;
    width: 155px;
    padding: 8px;
    font-size: 15px;
    border-radius: 9px;
    letter-spacing: 0px;
    float: right;
}

.button-negro{
    #gradient .horizontal(#414141, #040404);
    border: 0;
    color: #FFF;
    width: 137px;
    padding: 4px;
    font-size: 15px;
    border-radius: 14px;
    letter-spacing: 0px;
    float: right;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    margin-top: 12px;
    margin-right: 41px;
    cursor: pointer;

}

.text-y{
    color: #F5CD21;
}

.ui-tooltip{
    display: none !important;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: 'IcoMoon';
    font-style: normal;
    speak: none;
}


.pagination-toolbar{
    text-align: right;
    width: 100%;
    display: inline-block;

    .limit{
        width: 70%;
        float: left;
        font-size: 14px;
        color: #303030;
        display: none;
    }

    .pagination-list{
        float: right;

        li{
            float: left;
            width: 20px;
            font-size: 14px;
            font-weight: 500;

            a{
                text-decoration: none;
                color: #006EA8;

                &:hover{
                    text-decoration: underline;
                }
            }

            &.active{
                color: #FAC904;
            }

            .icon-backward{
                display: inline-block;
                width: 14px;
                height: 14px;
                margin-right: .25em;
                line-height: 14px;

                &:before {
                    content: "\7d";
                }
            }

            .icon-step-backward{
                display: inline-block;
                width: 14px;
                height: 14px;
                margin-right: .25em;
                line-height: 14px;

                &:before {
                    content: "\7c";
                }

            }

            &.disabled{
                color: #CCC;

                .icon-backward{
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-right: .25em;
                    line-height: 14px;

                    &:before {
                        content: "\7d";
                    }
                }

                .icon-step-backward{
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-right: .25em;
                    line-height: 14px;

                    &:before {
                        content: "\7c";
                    }

                }
            }

            .icon-forward{
                display: inline-block;
                width: 14px;
                height: 14px;
                margin-right: .25em;
                line-height: 14px;

                &:before {
                    content: "\7b";
                }
            }

            .icon-step-forward{
                display: inline-block;
                width: 14px;
                height: 14px;
                margin-right: .25em;
                line-height: 14px;

                &:before {
                    content: "\e000";
                }

            }
        }
    }
}