#tabs1{
	border: 0;
	padding: 0;

	#tabs-2{
		box-shadow: none;
		font-size: 14px;
	}

	.title-blue{
		width: 320px;
	}

	.calculadora-liquidacion{

		tr{
			&:last-child{
				td{
					&:after{
						display: none;
					}
				}
			}
		}

	}

	.download-pdf-liquidacion{
		width: 94%;
		display: inline-block;
		margin: 25px;

		a{
			width: 150px;
			display: inline-block;
			padding: 10px;
			text-decoration: none;
			background-color: @amarillo;
			color: #FFF;
			position: relative;
			padding-left: 17px;
    		text-align: right;
    		border-radius: 6px;
    		font-size: 15px;

			&:before{
				position: absolute;
				content: "";
				left: 0;
				top: 4px;
				background-image: url('../images/empleados/descarga-liquidacion.png');
				background-position: center;
				background-repeat: no-repeat;
				width: 37px;
			    height: 28px;
    			margin-right: 10px;
    			border-right: 1px solid;
			}
		}
	}

	.aviso-liquidacion{
		width: 91%;
		display: inline-block;
		padding: 40px;
		background-color: #EFF0F1;	

		p{
			margin-top: 10px;
			color: @gris;
			font-style: italic;

			&:first-child{
				margin-top: 0;
			}
		}
	}

	.ui-tabs-nav{
		background: none;
		border: 0;

		li{
			width: 49%;
		    float: left;
		    border: 0;
		    border-radius: 0;
		    text-align: center;
		    padding: 2px;
		    background-color: @azul;
		    background-image: none;
		    outline: none;

			&.ui-state-active{
				background-color: @amarillo;

				&:first-child{
					border-top-right-radius: 12px;
				    border-bottom-right-radius: 12px;
				    box-shadow: 11px 0px #FFF;
				    z-index: 999;
				}

				&:last-child{
					border-top-left-radius: 12px;
				    border-bottom-left-radius: 12px;
				    box-shadow: -11px 0px #FFF;
				    z-index: 999;
				}
			}



			a{
				color: #FFF;
		    	display: inline-block;
		   	 	width: 93%;
		    	font-weight: lighter;
		    	outline: none;
			}
		}
	}

	.ui-tabs-panel{
		padding: 0;
	    width: 98.8%;
	    margin-top: 25px;
	    display: inline-block;
	    box-shadow: 0px 0px 2px #CCC;
	    border-radius: 0;

	    .documentos{
	    	padding: 10px 20px 20px 20px;

	    	h4{
	    		text-align: left;
	    		font-size: 17px;
	    		color: @azulsubtitulos;
	    		float: left;
	    		text-transform: uppercase;
	    	}

	    	.actions-folders{
	    		float: right;

	    		a{
	    			text-decoration: none;
	    			color: @azulsubtitulos;
	    			display: inline-block;
	    			height: 20px;
					padding-top: 2px;
					background-repeat: no-repeat;
					background-position: left;
					text-align: right;


	    			&#volver-button{
	    				width: 80px;
	    				background-image: url('../images/empleados/boton-volver.png');
    					margin-right: 13px;
	    			}

	    			&#actualizar{
	    				width: 98px;
					    background-image: url('../images/empleados/boton-actualizar.png');
	    			}

	    		}
	    	}

	    	.list-documentos{
	    		width: 88%;
			    display: inline-block;
			    border: 3px solid #EFEFEF;
			    margin-top: 8px;
			    padding: 8px 50px 8px 50px;

			    ul{
			    	width: 100%;
			    	display: inline-block;

			    	li{
			    		float: left;
			    		padding: 20px;

			    		a{
		    				text-decoration: none;
		    				color: @gris;
		    				background-repeat: no-repeat;
							background-position: top;
							display: inline-block;
   							height: 22px;
    						padding-top: 37px;
		    			}

			    		&.carpeta{
			    			a{
	    						background-image: url('../images/empleados/icono-carpeta.png');
			    			}
			    		}

			    		&.documento{
			    			a{
	    						background-image: url('../images/empleados/icono-pdf.png');
			    			}
			    		}
			    	}
			    }
	    	}
	    }

	}
}