.title-blue{
	color: @azul;
	font-weight: 400;
}

.list-empleados{
	text-align: center;

	h1{
		margin-top: 84px !important;
		margin-bottom: 33px !important;
	}

	.btn-toolbar{
		width: 950px;
	    background-color: #F2F3F4;
	    border-radius: 7px;
	    box-shadow: 1px 1px 2px 1px #CCC;
	    color: #8A8A8A;
	    padding: 9px;
	    display: inline-block;

	    .filter-search {
	    	float: left;
	    	margin-right: 6px;

	    	label{
	    		font-weight: 500;
			    letter-spacing: 1px;
			    font-size: 14px;
	    	}

	    	#departamento_chzn{
	    		width: 166px !important;

	    		a{
	    			border: 0;
				    background: #FFF;
				    padding: 2px 0 2px 8px !important;
				    box-shadow: none !important;

				    span{
				    	color: #8A8A8A;
				    }

				    &.chzn-single-with-deselect {
				    	span{
				    		margin-right: 26px;
				    	}
				    }

				    &.chzn-default{
				    	span{
					    	border-right: 1px solid rgba(0, 0, 0, 0.46);
	    					text-indent: 200px;
					    }
				    }

				    
	    		}

	    		.chzn-drop{ border: 0; }

	    		.highlighted{
	    			background-color: #8A8A8A;
	    			background-image: none;
	    		}
	    	}
	    }

	    input[type="text"]{
	    	border: 0;
		    border-radius: 5px;
		    padding: 7px;
		    width: 140px;
		    outline: none;
	    }
	}

	.actions{
		margin-top: 10px;

		button{
			border: 0;
		    background-color: #FAC904;
		    font-size: 15px;
		    border-radius: 6px;
		    padding: 6px;
		    width: 94px;
		    text-align: right;
		    color: #FFF;
		    font-weight: lighter;
		    cursor: pointer;
		    position: relative;

		    &:before{
		    	position: absolute;
			    content: "";
			    width: 26px;
			    height: 22px;
			    background-image: url('../images/empleados/icono-buscar.png');
			    background-repeat: no-repeat;
			    left: 4px;
			    top: 3px;
			    border-right: 1px solid #FFF;
		    }
		}
	}

	> .empleados{
		width: 953px;
    	margin: 0 auto;
    	margin-top: 28px;
    	border-collapse: collapse;

    	thead{
    		background-color: #006EA8;

    		tr{
    			th{
    				padding: 8px 0 8px 33px;
				    position: relative;
				    text-align: left;

    				&:last-child{
    					border-right: 1px solid #006EA8;
    					&:after{
    						display: none;
    					}
    				}

    				&:after{
    					width: 1px;
					    height: 28px;
					    position: absolute;
					    content: "";
					    right: 0;
					    background-color: #FFF;
					    top: 2px;
    				}

    				&.selected-organize{
    					background-color: #FAC904;
    				}


    				a{
    					color: #FFF;
    					text-decoration: none;
    					font-size: 14px;
    					font-weight: lighter;
    					position: relative;
    					display: inline-block;

    					.icon-none, .icon-arrow-down-3{
    						background-image: url('../images/empleados/flecha2.png');
    						background-repeat: no-repeat;
    						width: 15px;
    						height: 14px;
    						position: absolute;
						    left: -22px;
						    top: -1px;
    					}

    					 .icon-arrow-up-3{
    						background-image: url('../images/empleados/flecha1.png');
    						background-repeat: no-repeat;
    						width: 15px;
    						height: 14px;
    						position: absolute;
						    left: -22px;
						    top: -1px;
    					}

    				}
    			}
    		}
    	}

    	tfoot{
    		tr{
    			td{
    				padding-top: 20px;
    			}
    		}
    	}

    	> tbody{
			border-bottom: 1px solid #CCC;
			font-size: 15px;

    		> tr{
    			cursor: pointer;

    			&.desactivaded{
    				background-color: #F4F4F4;
    			}

    			> td{
    				border-top: 1px solid #CCC;
    				padding: 12px 0 12px 33px;
				    position: relative;
				    text-align: left;
				    color: #303030;
				    position: relative;

    				&:first-child{
    					border-left: 1px solid #CCC;
    				}

    				&:last-child{
    					border-right: 1px solid #CCC;
    				}

    				> span{
    					display: inline-block;
    					position: relative;
    					width: 58px;

	    				&.inactivo{
	    					&:before{
	    						position: absolute;
							    right: -16px;
							    top: 5px;
							    content: "";
							    width: 8px;
							    height: 8px;
							    border-radius: 50%;
	    						background-color: #939393;
	    					}
	    				}

	    				&.activo{
	    					&:before{
	    						position: absolute;
							    right: -16px;
							    top: 5px;
							    content: "";
							    width: 8px;
							    height: 8px;
							    border-radius: 50%;
	    						background-color: #00B03F;
	    					}
	    				}
    				}

    				i{
    					display: inline-block;
					    width: 15px;
					    height: 15px;
					    background-repeat: no-repeat;
					    position: absolute;
					    right: 13px;

	    				&.not-expanded{
	    					background-image: url('../images/empleados/mas.png');
	    				}

	    				&.expanded{
	    					background-image: url('../images/empleados/menos.png');
	    				}
    				}

    			}



    			&:hover, &.background-amarillo{
    				background-color: #FFF4D6;
    			}

    			&.empleado-info-tr{
    				cursor: default;

    				> td{
    					border-left: 0;
    					border-right: 0;
    					padding: 30px 0 30px 0;
    				}

    				.empleado-info{
    					text-align: center;

    					h2{
    						display: inline-block;
    						width: 88%;
    						border-bottom: 1px solid #006797;
    						color: #008EB2;
    						padding-bottom: 10px;
						    font-size: 21px;
						    text-align: left;
						    font-weight: lighter;
    					}

    					.info-detallada{
    						display: inline-block;
    						margin-top: 20px;
    						width: 100%;

    						.ui-accordion{
    							width: 88%;
    							display: inline-block;

    							h3{
    								border: 0;
								    background-color: #006797;
								    border-radius: 0;
								    text-align: left;
								    color: #FFF;
								    font-weight: lighter;
								    font-size: 18px;
								    padding: 6px 1px 6px 37px;
								    position: relative;
								    margin-bottom: 10px;
								    background-image: url('../images/empleados/fielsed-abrir.png');
								    background-repeat: no-repeat;
								    background-position: 99%;
								    outline: none;

								    &:before{
								    	position: absolute;
									    left: 4px;
									    top: 4px;
									    content: "";
									    background-repeat: no-repeat;
									    width: 26px;
									    height: 25px;
								    }

								    &.info-personal-head{
								    	&:before{
								    		background-image: url('../images/empleados/icono-info-personal.png');
								    	}
								    }

								    &.info-familiar-head{
								    	&:before{
								    		background-image: url('../images/empleados/icono-info-familiar.png');
								    	}
								    }

								    &.info-laboral-head{
								    	&:before{
								    		background-image: url('../images/empleados/icono-info-laboral.png');
								    	}
								    }

								    &.horario-head{
								    	&:before{
								    		background-image: url('../images/empleados/icono-horario.png');
								    	}
								    }

								    &.cifras-head{
								    	&:before{
								    		background-image: url('../images/empleados/icono-cifras-del-empleado.png');
								    	}
								    }

    								&.ui-accordion-header-active{
    									background-color: @amarillo;
    									background-image: url('../images/empleados/fielsed-cerrar.png');
    								}
    							}

    							.ui-accordion-content{
    								border: 0;
    								padding: 0;
    								font-size: 14px;

    								.title-familiar{
    									display: inline-block;
									    width: 92%;
									    border-bottom: 1px solid @amarillo;
									    padding-bottom: 5px;
									    font-size: 15px;
									    text-align: left;
									    font-weight: 400;
									    color: #999999;

    									span{
									    	color: @azul;
    									}
    								}


    								
    							}
    						}
    					}
    				}

    				&:hover{
    					background: none;
    				}
    			}
    		}
    	}
	}
}
.informacion-personal, .informacion-laboral{
	text-align: left;
	margin-bottom: 14px;

	tr{
		td{
			padding: 7px;
			position: relative;
			font-weight: lighter;

			&:first-child{
				width: 165px;
				&:before{
					width: 1px;
				    height: 20px;
				    position: absolute;
				    content: "";
				    right: 0;
				    background-color: rgba(204, 204, 204, 0.5);
				    top: 9px;
				}
			}

			&:last-child{
				vertical-align: top;
			}

			&:last-child{
				padding-left: 15px;
				color: #919191;
			}

			.informacion-contacto{
				width: 87%;

				li{
					float: left;
				    width: 50%;
				    border-bottom: 1px solid rgba(204, 204, 204, 0.43);
				    margin-bottom: 2px;

				    &:last-child{
				    	width: 100%;
				    }

					label{
						background-color: #FAFAFA;
					    color: @amarillo;
					    display: inline-block;
					    width: 75px;
					    margin-right: 9px;
					    padding: 5px;
					    padding-left: 13px;

					}
				}
			}
		}
	}
}

.info-familiar{
	width: 93%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 14px;
    position: relative;

    tr{
    	position: relative;
    	display: inline-block;
    	width: 100%;

    	&:before{
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 3px;
    		content: "";
    		background-image: url('../images/empleados/borde.png');
    		background-repeat: no-repeat;
    	}

    	&:first-child{
    		&:before{
    			display: none;
    		}
    	}

    	&:nth-child(even){
    		&:before{
    			background-image: url('../images/empleados/borde1.png');
    		}
    	}
    }

    td{
    	border-left: 1px solid rgba(204, 204, 204, 0.68);
	    padding: 6px 11px 6px 11px;
	    position: relative;
	    text-align: left;
	    width: 245px;
	    color: #919191;

	    .title-blue{
	    	width: 130px;
		    display: inline-block;
		    margin-left: 10px;
	    }

	    &:last-child{
	    	.title-blue{
	    		width: 149px;
	    	}

	    	span{
	    		text-align: right;
	    	}
	    }


    	&:before{
    		position: absolute;
		    content: "";
		    left: -6px;
		    top: 10px;
		    width: 9px;
		    height: 9px;
		    border-radius: 50%;
		    border: 1px solid rgba(204, 204, 204, 0.68);
		    background-color: #FFF;
    	}
    }
}

.horario{
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;


	thead{
		border-bottom: 1px solid @amarillo;
		background-color: #FFF !important;

		th{
			position: relative;
			color: @azul;

			&:last-child{
				border-right: 0 !important;
			}

			&:after{
				position: absolute;
			    right: 0;
			    top: 6px !important;
			    width: 3px;
			    height: 21px !important;
			    background-color: @amarillo !important;
			    content: "";
			}
		}
	}

	tbody{
		tr{
			border-bottom: 1px solid rgba(204, 204, 204, 0.37);

			&:first-child{
				td{
					padding-top: 22px;
				}
			}

			&:last-child{
				td{
					&:after{
						top: 6px !important;
					}
				}
			}

			td{
				position: relative;
				padding-top: 5px;


				&:after{
					position: absolute;
				    right: 0px;
				    top: 25px !important;
				    width: 1px;
				    height: 51px !important;
				    background-color: rgba(204,204,204,0.37) !important;
				    content: "";
				}

				span{
					display: inline-block;
				    width: 100%;
				    color: #CACACA;
				    text-align: left;
				    font-weight: 100;
				    font-size: 15px;
				    margin-bottom: 15px;
				    margin-left: 5px;
				}

				label{
					color: #A1A1A1;
					font-size: 15px;
					font-weight: lighter;
					margin-bottom: 10px;
					display: inline-block;
				}
			}
		}
	}
}

.cifras-empleado{
	width: 93%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 14px;
    position: relative;

    td{
    	border-left: 1px solid rgba(204, 204, 204, 0.68);
	    padding: 6px 11px 6px 11px;
	    position: relative;
	    text-align: left;
	    width: 245px;
	    color: #919191;
	    position: relative;

	    &:after{
	    	content: "";
	    	position: absolute;
	    	bottom: 0;
	    	left: 0;
	    	width: 100%;
	    	height: 2px;
	    	background-image: url('../images/empleados/borde2.png');
	    	background-repeat: no-repeat;
	    }

	    .title-blue{
	    	width: 193px;
		    display: inline-block;
		    margin-left: 10px;
	    }

    	&:before{
    		position: absolute;
		    content: "";
		    left: -6px;
		    top: 10px;
		    width: 9px;
		    height: 9px;
		    border-radius: 50%;
		    border: 1px solid rgba(204, 204, 204, 0.68);
		    background-color: #FFF;
    	}
    }
}

.cifras-bottom{
	width: 99%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 14px;
    position: relative;

    tbody{
		border-top: 1px solid @amarillo;
		background-color: #FBFBFB !important;

		td{
			position: relative;
			color: @azul;
			padding-top: 20px;
			padding-bottom: 20px;


			&:last-child{

				&:after{
					display: none;
				}
			}

			&:after{
				position: absolute;
			    right: 0;
			    top: 9px !important;
			    width: 1px;
			    height: 39px !important;
			    background-color: #ECBD03 !important;
			    content: "";

			}

			span{
				color: #919191;
			}
		}
	}
}

.info-adicional{
	width: 86%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 14px;
    position: relative;
    background-color: #EFF0F1;
    display: inline-block;
    padding: 10px;

    li{
    	float: left;
    	width: 50%;
    	margin-bottom: 8px;

    	label{
    		width: 126px;
		    padding: 7px 7px 7px 30px;
		    color: #FFF;
		    border: 1px solid #FFF;
		    background-color: #006797;
		    display: inline-block;
		    border-radius: 6px;
		    text-align: left;
		    font-weight: lighter;
    	}

    	span{
    		display: inline-block;
		    width: 149px;
		    text-align: center;
		    color: #818181;
    	}
    }
}
