.com_users-registration-complete, .com_users-registration-edit{
	.alert-message{
		font-size: 18px;
	    font-weight: bold;
	    text-align: center;
	}
}

.back-history{
	margin-top: 0 !important;
}

.com_users-registration-complete{
	fieldset{
		display: none !important;
	}

	.btn-primary{
		display: none;
	}

	.back-history{
		position: fixed;
    	left: 50%;
   	 	margin-left: -77px;
	}
}

main{

	*{ font-family: @fontFamily; }

	.wrapper-all{
		#system-message-container{
			text-align: center;
			#system-message{
			    display: inline-block;
			    text-align: center;
			    width: 43%;
			    padding-bottom: 36px;
			    margin: 0 auto;

			    a,h4{
			    	display: none;
			    }

			    div{
			    	display: block;
			    	margin: 0 auto;
			    	color: @gris;
			    }

			    .alert-success{
			    	position: absolute;
				    top: 22%;
				    left: 50%;
				    margin-left: -135px;
			    }

			}
		}

		.registration, .moduletable, .login, .reset, .reset-confirm, .reset-complete, .profile-edit{
			margin-top: 10px;
			display: inline-block;
			width: 100%;


			.controls{
				position: relative;
			}

			#member-registration{
				.control-group{
					fieldset{
						&:nth-child(2){
							display: none;
						}
					}
				}
			}



			#user-registration, #reset-confirm,#reset-complete{
				p{
					width: 510px;
				    display: block;
				    margin: 0 auto;
				    padding-bottom: 40px;
				    text-align: justify;
				    font-size: 15px;
				    color: @gris;
				}
			}

			#user-registration{
				p{
					text-align: center;
				    font-size: 18px;
				    margin-bottom: 50px;
				    font-weight: 600;
				}
			}

			#member-registration, #login-form, .form-horizontal, #user-registration, #member-profile, #calculadora-salarial{
				text-align: center;
				fieldset{
					width: 476px;
				    display: inline-block;
				    text-align: left;
				    box-shadow: 1px 1px 4px -1px rgba(0,0,0,0.39);
				    border-radius: 7px;
				    padding: 20px;
				    position: relative;
				    background-color: #FFF;
				    border-bottom: 2px solid #FAC904;

				    legend{
					    width: 162px;
    					padding: 10px 10px 10px 16px;
					    border-top-left-radius: 6px;
					    border-bottom-right-radius: 6px;
					    border-top-right-radius: 6px;
					    color: #008AB0;
					    position: absolute;
					    left: 0;
					    top: -29px;
				    	#gradient .vertical(#EFEFEF,#E7E7E7);
				    	font-weight: lighter;
					}

					#jform_spacer-lbl{
						display: none;
					}

					.control-group{
						margin-bottom: 12px;
						float: left;
						width: 100%;

						&:nth-child(3){
							margin-top: -5px;
						}

						&:last-child{
							margin-bottom: 0;
						}


						input[readonly]{
							color: rgba(102, 102, 102, 0.84);
						}

						input[type="text"],input[type="password"],input[type="email"]{
							border: 0;
							width: 95%;
							margin: 10px;
							padding-bottom: 8px;
							border-bottom: 1px solid #CCC;
							font-size: 14px;
							.placeholder(@gris);
							padding-top: 4px;
							background: none;
    						outline: none;

    						&.invalid{
								.placeholder(red);
								border-bottom: 1px solid red; 
							}
						}
					}
				}

				.actions,#form-login-submit{
					width: 518px;
				    padding: 20px;
				    display: block;
				    margin: 0 auto;
				    text-align: center;

				    .controls{
				    	display: inline-block;
				    	width: 100%;
				    }

				    a{
				    	float: left;
					    text-decoration: none;
					    color: @gris;
					    margin-top: 10px;
					    font-size: 15px;
					    font-weight: 400;
				    }
				}

				button{
					.button-azul;
				}

				.o-separator{
					display: inline-block;
					color: @gris;
					font-weight: lighter;
					width: 100%;
					position: relative;
					margin-top: 20px;
					font-size: 14px;


					&:before,&:after{
						content: "";
						width: 235px;
						height: 1px;
						background-color: rgba(102, 102, 102, 0.45);
						position: absolute;
						top: 50%;
					}

					&:before{
						left: 0;
					}

					&:after{
						right: 0;
					}
				}

				.registro-button{
					margin-bottom: 10px;
					a{
						display: inline-block;
					    width: 171px;
					    padding: 16px;
					    background-color: #F7C607;
					    color: #005985;
					    text-decoration: none;
					    border-radius: 8px;
					    font-weight: 600;
					    position: relative;
					    box-shadow: 0px 0px 8px 1px #CCC;
					    font-size: 15px;

						&:before{
							content: "";
						    position: absolute;
						    left: 5px;
						    background-image: url('../images/login/icono.png');
						    width: 30px;
						    height: 30px;
						    top: 7px;
						}

						&:after{
							content: "";
						    position: absolute;
						    right: 14px;
						    background-image: url('../images/login/flecha.png');
						    background-repeat: no-repeat;
						    width: 17px;
						    height: 18px;
						}
					}
				}

			}
		}

		nav{
			float: left;
			width: 240px;
			height: 100%;
			background-color: #00649C;
			text-align: center;
			display: block;
		    position: fixed;
		    top: 0;
		    left: 0;
		    bottom: 0;
		    margin: 0;
		    padding: 0;
		    height: 100%;
		    overflow: hidden;
		    background-image: url('../images/menu/bg-menu.png');
		    background-repeat: no-repeat;

		    .logo{
		    	margin-top: 43px;
		    	max-width: 100%;
		    }

			.moduletable_menu{
				width: 100%;
				display: inline-block;
				margin-top: 55px;

				.menu{
					li{
						text-align: left;
						text-align: left;
    					padding-left: 20px;
    					padding-top: 5px;
    					padding-bottom: 5px;
    					position: relative;

    					&:after{
    						position: absolute;
						    right: 10px;
						    background-image: url('../images/menu/iconos-menu.png');
						    width: 44px;
    						height: 27px;
						    content: "";
						    top: 10px;
						    text-align: right;
						    background-repeat: no-repeat;
						    border-left: 1px solid rgba(255, 255, 255, 0.31);
						    background-position: 13px 2px;
    					}

    					&:nth-child(2){
    						&:after{
						    	background-position: 13px -23px;
    						}
    					}

    					&:nth-child(3){
    						&:after{
						    	background-position: 13px -49px;
    						}
    					}

    					&:last-child{
    						&:after{
						    	background-position: 13px -74px;
    						}
    					}

    					&.active,&:hover{
    						background-color: rgba(255,255,255,0.22);
						    background-image: url('../images/menu/icono-active.png');
						    background-repeat: no-repeat;
						    background-position: center left;
    					}

						a{
							color: #FFF;
						    text-decoration: none;
						    font-weight: lighter;
						    font-size: 15px;
						    padding: 10px;
						    width: 92%;
						    display: inline-block;
						}
					}
				}
			}

			.moduletable{
				margin-top: 0;
				position: relative;

				&:after{
					position: absolute;
				    right: 10px;
				    background-image: url('../images/menu/iconos-menu.png');
				    width: 44px;
					height: 27px;
				    content: "";
				    top: 10px;
				    text-align: right;
				    background-repeat: no-repeat;
				    border-left: 1px solid rgba(255, 255, 255, 0.31);
				    background-position: 13px -99px;
				}

				.logout-button{
					display: inline-block;
				    width: 100%;
				    height: 45px;
				    cursor: pointer;

				    &:hover{
						background-color: rgba(255,255,255,0.22);
					    background-image: url('../images/menu/icono-active.png');
					    background-repeat: no-repeat;
					    background-position: center left;
					}

					input[type="submit"]{
						border: 0;
					    background: none;
					    color: #FFF;
					    font-size: 15px;
					    font-weight: lighter;
					    text-align: left;
					    float: left;
					    padding-left: 29px;
					    width: 100%;
				    	cursor: pointer;
				    	padding-top: 14px;
				    	outline: none;			    	
					}
				}
			}
		}

		.content-all{
			float: right;
			width: 87.5%;
			height: 100%;
			position: absolute;
			left: 240px;

			h1{
				width: 100%;
			    padding: 18px 23px 18px 56px;
			    text-align: left;
			    margin-top: 50px;
			    background-color: #EFEFEF;
			    color: #008AB0;
			    text-transform: uppercase;
			    font-weight: lighter;
			    background-image: url('../images/menu/icono-active.png');
			    background-repeat: no-repeat;
			    background-position: center left;
			    font-size: 22px;
			    font-weight: lighter;
			    margin-bottom: 100px;

			}

		}
	}
}

.tooltip-password{
	position: absolute;
    top: 54px;
    left: 50%;
    margin-left: -164px;
    width: 315px;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 1px #CCC;
    background-color: #FFF;
    padding-left: 34px;
    background-image: url('../images/icono-mensaje.png');
    background-repeat: no-repeat;
    background-position: 8px;
    text-align: center;
    z-index: 2;
    font-size: 14px;
    color: @gris;

    &:before{
    	position: absolute;
	    top: -22px;
	    left: 8px;
	    content: "";
	    background-image: url('../images/triangulo.png');
	    background-repeat: no-repeat;
	    width: 24px;
	    height: 24px;
    }
}

#jform_hidden, .optional{
	display: none;
}

