.em-over-screen, .em-over-screen-no {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    .size( 100%, 100% );
    z-index: 9999;
    background-color: rgba(130, 131, 133, 0.67);
    color: #FFF;
}

.em-modal-box {
    display: none; 
    position: fixed;
    top: 46%;
    left: 50%;
    width: 900px;
    min-height: 300px;
    margin-left: -450px;
    margin-top: -150px;
    background-color: #FBFBFB;
    z-index: 99999;
    .transition(height 600ms);
    padding-bottom: 13px;
    text-align: center;
    border: 2px solid #FFF;
    border-radius: 5px;

    .header {
        display: inline-block;
        width: 100%;
        background-color: #FFF;
        color: #6F6F6F;
        position: relative;

        .masc-header{
            position: absolute;
            content: "";
            width: 900px;
            height: 8px;
            top: -14px;
            left: -2px;
            background: #3a70b3; /* Old browsers */
            background: -moz-linear-gradient(left,  #3a70b3 0%, #26a8de 50%, #3a70b3 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#3a70b3), color-stop(50%,#26a8de), color-stop(100%,#3a70b3)); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(left,  #3a70b3 0%,#26a8de 50%,#3a70b3 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(left,  #3a70b3 0%,#26a8de 50%,#3a70b3 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(left,  #3a70b3 0%,#26a8de 50%,#3a70b3 100%); /* IE10+ */
            background: linear-gradient(to right,  #3a70b3 0%,#26a8de 50%,#3a70b3 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a70b3', endColorstr='#3a70b3',GradientType=1 ); /* IE6-9 */
        }


        *{ display: inline-block; vertical-align: middle; }

        .close-modal-button { 
           position: absolute;
            top: -32px;
            right: -21px;
            width: 43px;
            height: 43px;
            cursor: pointer;
            z-index: 8040;
            background: url("../images/btn-cerrar.png");
            background-repeat: no-repeat;
            color: transparent;
        }

    }

    .body {
        display: inline-block;
        min-height: 100px;
        text-align: center;
        font-size: 16px;
        font-weight: 300;
        background-color: transparent;
        width: 100%;
        // max-height: 388px;
        font-weight: bold;
        position: relative;

        > * {
            font-family: 'Open Sans', sans-serif;
            color: #AFAFAF;
        }

        #accept-terms{
            display: inline-block;
            padding: 5px;
            #gradient .vertical(#5AB5E3, #439AD2);
            text-decoration: none;
            color: #FFF;
            margin-top: 10px;
            border-radius: 3px;
            text-shadow: 1px 1px rgba(204, 204, 204, 0.44);
            font-weight: 100;
            box-shadow: 0px -3px 3px 3px rgba(224,224,224,0.83), 0px 3px 3px 2px rgba(204, 204, 204, 0.31);
        }

        .terms{
            width: 100%;
            display: inline-block;
            margin-top: 10px;

            li{
                width: 57%;
                float: left;
                text-align: center;
                font-size: 14px;

                &:first-child{
                    width: 26%;
                    text-align: right;

                    input{
                        margin-top: -2px;
                    }
                }

                a{
                    text-decoration: none;
                    font-size: 14px;
                    color: #338FCA;
                }
            }
        }
        h3{
            font-size: 28px;
            color: #374110;
            border-bottom: 1px solid #ccc;
            font-weight: bold;
            font-family: 'Oswald', sans-serif;
            width: 100%;
            display: inline-block;
            padding-bottom: 10px;
        }

        p{ text-align: justify; }
    }
}
.t-score{
    width: 500px;
    margin: 35px auto 0;
    border: 1px solid #ccc;
    background: @blanco;
    tr{
        th{
            background: #15658C;
            font-size: 14px;
            font-family: @app_open;
            color: @blanco;
            text-align: center;
            padding: 16px 5px;
            border-right: 1px solid #ccc; 

            &:nth-child(2){
                text-align: right;
                border-right: none;
            }
            &:nth-child(3){
                text-align: left;
            }            
        }
        td{
            text-align: center;
            font-size: 13px;
            font-family: @app_open;
            color: #666;
            padding: 6px 5px 6px 7px;
            border-right: 1px solid #ccc;
            height: 20px;
         }
    }        
   
}

.descarga-excel{
    width: 400px;
    border: 1px solid #ccc;
    padding: 30px;
    margin: 40px auto 0;
    background: #fff;
    border-radius: 8px;
    span{
      color: #4C4C4C;
      font-family: 'Open Sans', sans-serif;
      font-size: 19px;
      font-weight: bold;   
      display: block;
      margin: 20px 0;       
    }    
    .completo, .completo-avanzado, .personalizado-avanzado, .completo-macrosector, .personalizado-macrosector{
        .blue-button;
        width: 160px;
        height: 15px;
        padding: 15px 10px;
    }
    .completo_avanzado{
        .blue-button;
        width: 160px;
        height: 15px;
        padding: 15px 10px;
    }
    .personalizado{
        .blue-button;
        width: 160px;
        height: 15px;
        padding: 15px 10px;
    }
}

.guardar-busqueda{
    width: 400px;
    border: 1px solid #ccc;
    padding: 30px 7px;
    margin: 40px auto 0;
    background: #fff;
    border-radius: 8px;
    span{
        color: #4C4C4C;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;   
        vertical-align: top;
        display: inline-block;
        width: 59%;
        text-align: left;
        margin: 20px 0;       
    }    
    img{
        width: 21%;
        display: inline-block;
        vertical-align: top;
    }
    label{
        color: #4C4C4C;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: 400;   
        vertical-align: top;
        display: block;
        text-align: center;
        margin: 20px 0;       
    }     

    input{
        margin: 0 auto;
        width: 90%;
        border: 1px solid #ccc;
        border-radius: 5px;
        height: 26px;
        background: rgb(252,252,252); /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkZWRmZTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
        background: -moz-linear-gradient(top,  rgba(252,252,252,1) 0%, rgba(222,223,224,1) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,252,252,1)), color-stop(100%,rgba(222,223,224,1))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(222,223,224,1) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(222,223,224,1) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top,  rgba(252,252,252,1) 0%,rgba(222,223,224,1) 100%); /* IE10+ */
        background: linear-gradient(to bottom,  rgba(252,252,252,1) 0%,rgba(222,223,224,1) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#dedfe0',GradientType=0 ); /* IE6-8 */
    }
}


