.retefuente{
	.global-notification{
		top: 21%;
	    left: 48%;
	    background: none !important;
	    color: red !important;
	    text-align: left;
	}
	.item-page{
		.page-header{
			h2{
				font-size: 25px;
				font-family: 'Rosario';
				font-weight: bold;
				color: #32353C;
				border-bottom: 1px solid #D8DBD6;
				padding-bottom: 15px;
				width: 90%;
			}
		}

		div[itemprop="articleBody"]{

			.moduletable{
				.wrapper-retefuente{
					#retenciones-form, #laboral-form{
						.retefuente{
							margin-top: 5px;

							*{
								font-family: @fontFamily;
								color: #303030;
								font-size: 15px;
							}

							li{
								padding: 3px;
								label{
									position: relative;
									padding-left: 14px;

									&:before{
										position: absolute;
										content: "";
										left: 0;
										width: 3px;
										height: 14px;
										border-radius: 6px;
										background-color: @amarilloAlerta;
									}
								}

								.required{
									margin-left: 5px;
									color: @amarilloAlerta;
								}

								input[type="text"]{
									border-radius: 14px;
									border: 0;
									width: 90%;
									box-shadow: 1px 1px 2px #CCC;
									padding: 4px;
									outline: 0;
									padding-left: 13px;
								}

							}

							

						}

						input[type="submit"]{
							.button-negro;
							outline: 0;
						}
					}

					.message{
						.success, .error{
							font-family: 'Roboto',sans-serif;
						    font-size: 15px;
						    text-align: left;
						    width: 90%;
						    line-height: 19px;
						}
					}
					#back-button{
						display: none;
						text-decoration: none;
						font-size: 14px;
						background-image: url('../images/volver-mensajes.png');
						background-repeat: no-repeat;
						background-position: left;
						padding-left: 15px;
					    color: #000;
					    margin-top: 11px;
					    font-family: @fontFamily;
					    font-size: 14px;
					}
				}
			}
		}
	}
}