.reportes{
	width: 96%;
	margin: 0 auto;

	thead{
		background-color: #006EA8;
		color: #FFF;
		font-weight: lighter;

		th{
			padding: 8px;
			text-align: justify;
			position: relative;
			padding-left: 21px;

			&:after{
				position: absolute;
				content: "";
				background-color: #FFF;
				width: 1px;
				height: 26px;
				right: 0;
				top: 2px;
			}

			&:last-child{
				border-right: 1px solid #006EA8;

				&:after{
					display: none;
				}
			}
		}
	}

	tbody{
		tr{
			border: 1px solid #CCC;

			td{
				padding: 14px;
				color: #404040;

				&:last-child{
					border-right: 1px solid #CCC;
				}

				a{
					text-decoration: none;
				    color: #404040;
				    display: inline-block;
				    text-align: right;
				    position: relative;
				    padding-left: 42px;

				    &:before{
				    	position: absolute;
				    	left: 3px;
				    	top: -6px;
				    	background-image: url('../images/icono-enlace-pdf.png');
				    	background-repeat: no-repeat;
				    	width: 28px;
				    	height: 28px;
				    	content: "";
				    }
				}

			}
		}
	}
}