.calculadora-salarial{
	.chzn-container{
		width: 95% !important;
		border-bottom: 1px solid #CCC;
		margin-left: 9px;
		margin-top: 7px;

		a{
			background: none !important;
			border: 0 !important;
			box-shadow: none;
			padding: 0;
			font-size: 14px;
			padding-bottom: 6px;
			color: @gris;

			

			&.chzn-single-with-deselect {
				span{
					margin-right: 26px;
				}
			}

			&.chzn-default{
				span{
					border-right: 1px solid rgba(0, 0, 0, 0.46);
					text-indent: 200px;
				}
			}		


			}

    		.chzn-drop{ border: 0; }

    		.highlighted{
    			background-color: #8A8A8A !important;
    			background-image: none !important;
    		}		

	}

	.actions{
		button{
    		cursor: pointer;
			outline: none;
			position: relative;
			padding-left: 17px;
    		text-align: right;
    		border-radius: 6px;
    		font-size: 15px;
    		width: 169px !important;

			&:before{
				position: absolute;
				content: "";
				left: 0;
				top: 4px;
				background-image: url('../images/empleados/descarga-liquidacion.png');
				background-position: center;
				background-repeat: no-repeat;
				width: 45px;
			    height: 26px;
    			margin-right: 10px;
    			border-right: 1px solid;
			}
		}
	}
}