/**
*
* variables to use in less
*
*/

// Site Standard colors
@gris: #666;
@grisdark: #333333;
@bodyBackground: #fff;
@bodyColor: #F9F9F9;
@cafe: #E9D9C8;
@azultitulos: #203961;
@azulfondos: #203961;
@blanco: #fff;
@verde: #006837;
@azulsubtitulos:#086FBC;
@grisclaro: #fdfdfd;
@vinotinto: #AD4453;
@amarilloAlerta: #FFD300;
@amarillo : #ECBD03;
@azul: #086792;


@fontFamily: 'Roboto', sans-serif;

// Font size
@baseFontSize: 15px;
@tinyFont: 10px;
@smallFont: 13px;
@normalFont: 14px;
@mediumFont: 16px;
@middlefont: 13px;
@largeFont: 23px;
@xLargeFont: 22px;
@bigFont: 30px;
@biggerFont: 32px;
@margin: 0 auto;
@titlefont: 24px;
@subtitlefont: 28px;
@notiFont: 30px;
@titlecontFont:50px;
@portatitleFont:40px;

//line height
@line: 18px;