<tr class="empleado-info-tr empleado-info-tr<%= empleado.identificador %>">
	<td colspan="5">

		<div class="empleado-info wrapper-info<%= empleado.identificador %>" style="display:none;">
			<h2>Información Detallada</h2>

			<div class="info-detallada">

				<div id="accordion<%= empleado.identificador %>">
					<h3 class="info-personal-head">Información Personal</h3>
					<div>
						<table class="informacion-personal">
							<tr>
								<td><label class="title-blue">Nombres:</label></td>
								<td><%= empleado.nombres %> <%= empleado.apellidos %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Documento:</label></td>
								<td>CC <%= empleado.numero_identificacion %> expedida el día <%= empleado.fecha_de_exp %> en <%= empleado.lugar_de_expedicion %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Fecha de Nacimiento:</label></td>
								<td><%= empleado.fecha_nacimiento %> en la ciudad de <%= empleado.ciudad_de_nacimiento %> </td>
							</tr>
							<tr>
								<td><label class="title-blue">Dirección:</label></td>
								<td><%= empleado.direccion_residencia %> <%= empleado.ciudad_de_residencia %> - <%= empleado.pais_residencia %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Teléfonos de Contacto:</label></td>
								<td><%= empleado.telefono_residencia %> - <%= empleado.celular %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Correo:</label></td>
								<td><%= empleado.correo_personal %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Estado Civil:</label></td>
								<td><%= empleado.estado_civil %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Cónyugue o Contacto:</label></td>
								<td>
									<ul class="informacion-contacto">
										<li><label>Nombre: </label><span><%= empleado.conyuge_o_contacto %></span></li>
										<li><label>Documento: </label><span><%= empleado.documento %></span></li>
										<li><label>Dirección: </label><span><%= empleado.direccion %> <%= empleado.ciudad %></span></li>
										<li><label>Teléfono: </label><span><%= empleado.telefono %></span></li>
										<li><label>Correo: </label><span><%= empleado.mail %></span></li>
									</ul>

								</td>
							</tr>
						</table>
					</div>
					<% if (empleado.numero_de_hijos != 0){ %>


						<h3 class="info-familiar-head">Información Familiar</h3>
						<div>
							<h4 class="title-familiar"><span>Número de Hijos:</span> <%= empleado.numero_de_hijos %></h4>
							<table class="info-familiar">
								<% 
								jQuery.each(empleado.hijos, function(index, hijo) {

									if (index == 0){
										index = '';
									}else{
										index++;

									}

								%>
									<tr>
										<td><label class="title-blue">Nombre<%= index %>: </label><span><%= hijo.nombre %></span></td>
										<td><label class="title-blue">Identificación<%= index %>: </label><span><%= hijo.identificacion %></span></td>
										<td><label class="title-blue">Fecha de Nacimiento<%= index %>: </label><span><%= hijo.fecha_de_nacimiento %></span></td>
									</tr>
								<%	 
								});
								%>
								
							</table>
						</div>

					<% } %>
					<h3 class="info-laboral-head">Información Laboral</h3>
					<div>
						<table class="informacion-laboral">
							<tr>
								<td><label class="title-blue">Razón Social:</label></td>
								<td><%= empleado.razon_social %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Nit:</label></td>
								<td><%= empleado.nit %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Correo:</label></td>
								<td><%= empleado.correo_corporativo %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Fecha de Ingreso:</label></td>
								<td><%= empleado.fecha_de_ingreso %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Fecha de Terminación:</label></td>
								<td><%= empleado.fecha_terminacion %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Cargo:</label></td>
								<td><%= empleado.cargo %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Departamento:</label></td>
								<td><%= empleado.departamento %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Proyecto:</label></td>
								<td><%= empleado.proyecto %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Jefe Inmediato:</label></td>
								<td><%= empleado.jefe_inmediato %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Dirección:</label></td>
								<td><%= empleado.direccion_de_trabajo %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Teléfono:</label></td>
								<td><%= empleado.telefono_trabajo %> Ext <%= empleado.ext %></td>
							</tr>
							<tr>
								<td><label class="title-blue">EPS:</label></td>
								<td><%= empleado.eps %></td>
							</tr>
							<tr>
								<td><label class="title-blue">ARL:</label></td>
								<td><%= empleado.arl %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Nivel de Riesgo:</label></td>
								<td><%= empleado.nivel_de_riesgo %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Pensión:</label></td>
								<td><%= empleado.pension %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Caja:</label></td>
								<td><%= empleado.caja %></td>
							</tr>
							<tr>
								<td><label class="title-blue">Cesantías:</label></td>
								<td><%= empleado.cesantias %></td>
							</tr>
						</table>

					</div>
					<h3 class="horario-head">Horario</h3>
					<div>
						<table class="horario">
							<thead>
								<tr>
									<th>Lunes</th>
									<th>Martes</th>
									<th>Miercoles</th>
									<th>Jueves</th>
									<th>Viernes</th>
									<th>Sábado</th>
									<th>Domingo</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td><span>Entrada</span><label><%= empleado.lunes_entrada %></label></td>
									<td><span>Entrada</span><label><%= empleado.martes_entrada %></label></td>
									<td><span>Entrada</span><label><%= empleado.miercoles_entrada %></label></td>
									<td><span>Entrada</span><label><%= empleado.jueves_entrada %></label></td>
									<td><span>Entrada</span><label><%= empleado.viernes_entrada %></label></td>
									<td><span>Entrada</span><label><%= empleado.sabado_entrada %></label></td>
									<td><span>Entrada</span><label><%= empleado.domingo_entrada %></label></td>
								</tr>
								<tr>
									<td><span>Salida</span><label><%= empleado.lunes_salida %></label></td>
									<td><span>Salida</span><label><%= empleado.martes_salida %></label></td>
									<td><span>Salida</span><label><%= empleado.miercoles_salida %></label></td>
									<td><span>Salida</span><label><%= empleado.jueves_salida %></label></td>
									<td><span>Salida</span><label><%= empleado.viernes_salida %></label></td>
									<td><span>Salida</span><label><%= empleado.sabado_salida %></label></td>
									<td><span>Salida</span><label><%= empleado.domingo_salida %></label></td>
								</tr>
							</tbody>
						</table>
					</div>
					<h3 class="cifras-head">Cifras del Empleado</h3>
					<div>
						<table class="cifras-empleado">
							<tr>
								<td><label class="title-blue">Tipo Contrato:</label><span><%= empleado.tipo_contrato %></span></td>
								<td><label class="title-blue">Salario:</label><span> $<%= empleado.salario %></span></td>
							</tr>
							<tr>
								<td><label class="title-blue">Auxilio de Transporte:</label><span><%= empleado.aux_transporte %></span></td>
								<td><label class="title-blue">Aux. Alimentación:</label><span>$<%= empleado.aux_alimentacion %></span></td>
							</tr>
							<tr>
								<td><label class="title-blue">Auxilio de Educación:</label><span>$<%= empleado.auxilio_de_educacion %></span></td>
								<td><label class="title-blue">Auxilio de Vivienda:</label><span>$<%= empleado.auxilio_de_vivienda %></span></td>
							</tr>
							<tr>
								<td><label class="title-blue">Otros Auxilios:</label><span>$<%= empleado.otros_auxilios %></span></td>
								<td><label class="title-blue">Promedio Pagos Salariales:</label><span>$<%= empleado.promedio_pagos_salariales %></span></td>
							</tr>
						</table>

						<table class="cifras-bottom">
							<tr>
								<td>
									<label class="title-blue">Corte de Vacaciones:</label>
									<span>
										<%= empleado.corte_de_vacaciones %>
									</span>
								</td>
								<td>
									<label class="title-blue">Corte Prima:</label>
									<span>
										<%= empleado.corte_prima %>
									</span>
								</td>
								<td>
									<label class="title-blue">Corte Cesantías:</label>
									<span>
										<%= empleado.corte_cesantias %>
									</span>
								</td>
							</tr>

						</table>
					</div>
				</div>

				<ul class="info-adicional">
					<li><label>Intereses</label><span class="valor">$<%= empleado.intereses %></span></li>
					<li><label>Vacaciones</label><span class="valor">$<%= empleado.vacaciones %></span></li>
					<li><label>Cesantías</label><span class="valor">$<%= empleado.cesantias_v %></span></li>
					<li><label>Prima</label><span class="valor">$<%= empleado.prima %></span></li>
				</ul>

				<div id="tabs<%= empleado.identificador %>">
					<ul>
						<li><a href="#tabs-1">Visualización de Documentos</a></li>
						<li><a href="#tabs-2">Calculadora de Liquidación</a></li>
					</ul>

					<div id="tabs-1">
						<div class="documentos">
							<h4>Documentos</h4>

							<div class="actions-folders">
								<a href="#" id="volver-button" style="display:none;">Volver</a>
								<a href="#" id="actualizar" data-empleado="<%= empleado.identificador %>">Actualizar</a>
							</div>

							<div class="list-documentos">
								<input type="hidden" id="codigo" name="codigo" value="<%= empleado.anterior %>">
								<input type="hidden" id="empleado" name="empleado" value="<%= empleado.empleado %>">

								<ul>

									<% jQuery.each(empleado.files, function(index, file) {
										if (file.tipo == 'carpeta'){
									%>
											<li class="carpeta"><a href="#" data-codigo="<%= file.id %>" data-empleado="<%= file.empleado %>"><%= file.nombre %></a></li>

									<%
										}else{
									%>
											<li class="documento"><a href="#" data-codigo="<%= file.id %>" data-empleado="<%= file.empleado %>"><%= file.nombre %></a></li>
									<%
										}
									});

									%>
									
								</ul>
							</div>
						</div>
					</div>
					<div id="tabs-2">
						<table class="cifras-empleado calculadora-liquidacion">
							<tr>
								<td><label class="title-blue">Sueldo:</label><span>$<%= empleado.salario %></span></td>
								<td><label class="title-blue">Promedio de Pagos Salariales:</label><span> $<%= empleado.promedio_pagos_salariales %></span></td>
							</tr>
							<tr>
								<td><label class="title-blue">Auxilio de Transportes:</label><span><%= empleado.aux_transporte %></span></td>
								<td><label class="title-blue">Vacaciones Prestacionales:</label><span>$<%= empleado.vacaciones_prestacionales %></span></td>
							</tr>
							<tr>
								<td><label class="title-blue">Cesantías:</label><span>$<%= empleado.cesantias %></span></td>
								<td><label class="title-blue">Interes de Cesantías:</label><span>$<%= empleado.intereses_cesantias %></span></td>
							</tr>
							<tr>
								<td><label class="title-blue">Prima Legal</label><span>$<%= empleado.prima_legal %></span></td>
							</tr>
						</table>

						<table class="cifras-bottom">
							<tr>
								<td>
									<label class="title-blue">Corte de Vacaciones:</label>
									<span>
										<%= empleado.corte_de_vacaciones %>
									</span>
								</td>
								<td>
									<label class="title-blue">Corte Prima:</label>
									<span>
										<%= empleado.corte_prima %>
									</span>
								</td>
								<td>
									<label class="title-blue">Corte Cesantías:</label>
									<span>
										<%= empleado.corte_cesantias %>
									</span>
								</td>
							</tr>

						</table>


						<div class="download-pdf-liquidacion">
							<a href="#" data-id="<%= empleado.identificador %>">Descargar PDF</a>
						</div>

						<div class="aviso-liquidacion">
							<p>"El valor final puede variar y no tiene validez legal"</p>
							<p>"No se tienen en cuenta la Retención en la fuente por salarios"</p>
						</div>
					</div>
				</div>

			</div>
		</div>

	</td>

</tr>