<% jQuery.each(files, function(index, file) {
	if (file.tipo == 'carpeta'){
%>
		<li class="carpeta"><a href="#" data-codigo="<%= file.id %>" data-empleado="<%= file.empleado %>"><%= file.nombre %></a></li>

<%
	}else{
%>
		<li class="documento"><a href="#" data-codigo="<%= file.id %>" data-empleado="<%= file.empleado %>"><%= file.nombre %></a></li>
<%
	}
});

%>