<p>Hemos encontrado retenciones prácticadas a <span class="text-y"><%=  retenciones[0].razon_social_empresa_beneficiaria %></span> por parte de: 

<%
	var str = retenciones.map(function(elem){
	    return elem.razon_social_empresa_retenedora;
	}).join(", ");
%>
<span class="text-y"><%= str %></span>. Se ha enviado el certificado al correo electrónico <span class="text-y"><%=  retenciones[0].correo_electronico_empresa_beneficiaria %></span></p>